---
import Header from '../components/Header.astro';
interface Props { //typescript
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class=" bg-gray-900 min-h-screen pb-32">
		<Header />
		<main class=" bg-red-500 max-w-5x1 m-auto"></main>
			<slot />
		</main>
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background-color: #131;
		background-size: 2;
		color-scheme: dark light;
	}

</style>
